.title {
    margin: auto;
    font-size: 6em;
    text-align: center;
    color: yellow;
    text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
    border: solid black 1px;
    background-color:rgba(255, 255, 255, 0.6);
}

.stbt {
    background-color:rgba(255, 255, 255, 0.6);
    text-align: center;
    max-width: 20%;
    margin: auto;
    margin-top: 1em;
    border: solid black 1px;
}

.next {
    background-color:rgba(255, 255, 255, 0.6);
    text-align: center;
    max-width: 20%;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 2em;
    border: solid black 1px;
}

.op {
    background-color:rgba(255, 255, 255, 0.6);
    text-align: center;
    max-width: 20%;
    margin: auto;
    margin-top: 1em;
    border: solid black 1px;
    margin-bottom: 1em;
}


.donebt {
    background-color:rgba(255, 255, 255, 0.6);
    text-align: center;
    max-width: 20%;
    margin: auto;
    margin-top: 1em;
    border: solid black 1px;
}

.resetbt {
    background-color:rgba(255, 255, 255, 0.6);
    text-align: center;
    max-width: 20%;
    margin: auto;
    margin-top: 1em;
    border: solid black 1px;
}

.timeremaining {
    background-color:rgba(255, 255, 255, 0.6);
    text-align: center;
    max-width: 40%;
    margin: auto;
    margin-top: 1em;
    border: solid black 1px;
}

.qq {
    background-color:rgba(255, 255, 255, 0.6);
    text-align: center;
    margin: auto;
    margin-top: 1em;
    border: solid black 1px;
}

.ww1 {
    background-color:rgba(255, 255, 255, 0.6);
    text-align: center;
    margin: auto;
    margin-top: 1em;
    border: solid black 1px;
}

.con {
    background-color:rgba(255, 255, 255, 0.6);
    text-align: center;
    margin: auto;
    margin-top: 1em;
    border: solid black 1px;
}

.reset {
    background-color:rgba(247, 6, 6, 0.6);
    text-align: center;
    max-width: 20%;
    margin: auto;
    margin-top: 1em;
    border: solid black 1px;
}

body {
    background: url(../images/digimonback.jpg)  0% 0% / cover no-repeat;
}

.pic {
    max-width: 15em;
    max-height: 15em;
    border: solid 1em black;
}

#myProgress {
    width: 100%;
    height: 30px;
    position: relative;
    background-color: #ddd;
  }
  
  #myBar {
    background-color: #4CAF50;
    width: 10px;
    height: 30px;
    position: absolute;
  }